{% load static %}
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="admin" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">Vigil </span>
                    <span class="logo-subtitle"></span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="" href="/"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                    <a href="comments.html">
                        <span class="icon user-3" aria-hidden="true"></span>
                        Teams
                    </a>
                    <span class="msg-counter">7</span>
                </li>
                 <li>
                    <a href="comments.html">
                        <span class="icon user-3" aria-hidden="true"></span>
                        Banned Team
                    </a>
                    <span class="msg-counter">6</span>
                </li>
            </ul>
            <span class="system-menu__title">system</span>
            <ul class="sidebar-body-menu">
                <li>
                    <a href="appearance.html"><span class="icon edit" aria-hidden="true"></span>Add Challenge</a>
                </li>
                <li>
                    <a href="appearance.html"><span class="icon folder" aria-hidden="true"></span> Manage Challenges</a>
                </li>
                <li>
                    <a href="##"><span class="icon message" aria-hidden="true"></span>Announcements</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="{% static 'img/avatar/avatar-illustrated-01.webp' %} " type="image/webp"><img src="./img/avatar/avatar-illustrated-01.png" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">{{user.username}}</span>
                <span class="sidebar-user__subtitle">CEO</span>
            </div>
        </a>
    </div>
</aside>